<title>Portal Bolsa de Emprego</title>
<div class="col-md-5">
  <h3>Últimas Ofertas</h3>
  <% @offers=Offer.where(ativado: true).order(updated_at: :desc, created_at: :desc).first(3)%>
  <% @offers.each do |f|%>
  <div class="col-md-12">
    <div class="col-md-4">
      <%= image_tag(f.picture.url , size: "100x80")if f.picture?  %>
      <%= image_tag("oferta.png",size: "100x80") if !f.picture?%>
    </div>
    <div class="col-md-8">
      <div class="col-md-12">
        <%=link_to f.title, f %>
      </div>
      <div class="col-md-12">
        <%=f.dataInicio%> - <%=f.dataFim%>
      </div>
      <div class="col-md-12">
        <%= truncate(f.content, :length => 35) %>
        Posted <%= time_ago_in_words(f.created_at) %> ago.
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
  <% end %>
  <%=link_to "Ver Todas as Ofertas", showOfertas_path %>
</div>
<div class="col-md-5 col-md-offset-1">
  <h3>Últimas Noticias</h3>
  <% @articles=Article.where(activated: true).order(destaque: :desc,data: :desc).first(3) %>
  <% @articles.each do |n|%>
  <div class="col-md-12">
    <div class="col-md-4">
      <%= image_tag(n.picture.url,size: "100x80") if n.picture?  %>
      <%= image_tag("news.jpeg",size: "100x80") if !n.picture?%>
    </div>
    <div class="col-md-8">
      <div class="row col-md-12">
        <%= link_to n.title, n %>
      </div>
      <div class="row col-md-12">
        <%=n.data%>
      </div>
      <div class="row col-md-12">
        <%=truncate(n.sumario, :length => 35)%>
      </div>
    </div>
  </div>
  <%end%>
  <%=link_to "Ver Todas as Noticias", showNoticias_path %>
</div>
<div class="col-md-5">
  <h3>Últimas Empresas</h3>
  <% @entidades=User.where(tipouser: 'entidade')%>
  <% @entidades=@entidades.all.last(3) %>
  <% @entidades.each do |e|%>
  <div class="col-md-12">
    <div class="col-md-3">
      <%= image_tag(e.picture.url,size: "100x80") if e.picture?  %>
      <%= image_tag("man.png",size: "100x80") if !e.picture?%>
    </div>
    <div class="col-md-9">
      <div class="row col-md-12">
        <%= link_to e.name, e %>
      </div>
      <div class="row col-md-12">
        <%if e.offers.count > 0%>
        <%=e.offers.count%> ofertas ativas!
        <%else%>
        Não tem ofertas!
        <%end%>
      </div>
      <div class="row col-md-12">
        <%=truncate(e.apresentacao, :length => 35)%>
      </div>
    </div>
    <br>
  </div>
  <%end%>
  <%=link_to "Ver Todas as Empresas", showEntidades_path %>
</div>
<div class="col-md-5 col-md-offset-1" >
  <h3>Últimos Candidatos</h3>
  <% @candidatos=User.where(tipouser: 'candidato')%>
  <% @candidatos=@candidatos.all.last(3) %>
  <% @candidatos.each do |u|%>
  <div class="col-md-12">
    <div class="col-md-3">
      <%= image_tag(u.picture.url,size: "100x80") if u.picture?  %>
      <%= image_tag("fpo_avatar.png",size: "100x80") if !u.picture?%>
    </div>
    <div class="col-md-9">
      <div class="row col-md-12">
        <%= link_to u.name, u %>
      </div>
      <div class="row col-md-12">
        <%=u.areaprof%>
      </div>
      <div class="row col-md-12">
        <%=u.niveldehab%>
      </div>
      <div class="row col-md-12">
        <%=u.situacaoprof%>
      </div>
    </div>
    <br>
  </div>
  <%end%>
  <%=link_to "Ver Todos os Candidatos", showCandidatos_path %>
</div>
