<div class="col-md-4 col-md-offset-4">
  <div class="btn-group btn-group-lg btn-block" role="group" aria-label="Login como Candidato">
    <%= button_to('Candidato', candidatosignup_path, :class => 'btn btn-large btn-primary')  %>
  </div>
  <div class="btn-group btn-group-lg btn-block" role="group" aria-label="Login como Entidade">
    <%= button_to('Entidade', entidadesignup_path, :class => 'btn btn-large btn-primary')  %>
  </div>
</div>
