<div class="col-md-6">

    <div class="col-md-4">
      <%= image_tag(article.picture.url,size: "120x120") if article.picture?  %>
      <%= image_tag("news.jpeg",size: "120x120") if !article.picture?%>
    </div>
    <div class="col-md-8">
    <div class="col-md-12">
      <%= link_to article.title, article %>
    </div>
      <div class="col-md-12">
      <%=article.data%>
      </div>
      <div class="col-md-12">
      <%=truncate(article.sumario.html_safe, :length => 80)%>
      </div>
    </div>


</div>
