<% provide(:title, 'Noticias') %>
<h1>Noticias</h1>
<div class="row">
<div class ="row col-md-12 vert-offset-top-1 vert-offset-bottom-2">
<%= simple_form_for '', :method => 'get' do |f|%>
      <div class="col-md-2 ">
      <%= f.submit "Go!", :class =>"btn btn-default"%>
      </div>
      <div class="col-md-2">
      <%= text_field_tag :name, params[:name], :class=>"form-control", :placeholder=>"Procurar por...",:type=>"text" ,label: false , :maxlength=>"15"%>

    </div>
    <% end %>
  </div>
</div>




<%if @articles.any?%>
  <%= render @articles %>
  <%end%>

<div class="col-md-12">
<%= will_paginate %>
</div>
