<div class="row col-md-12">



<div class="col-md-4">
<h3><%=@article.title%></h3
</div>
</div>
<div class="row col-md-12">
<div class="col-md-4">
<%=@article.created_at.strftime('%Y-%m-%d')%> a <%=@article.data%>
</div>

<div class="row col-md-12">
<div class="col-md-12">
<%= image_tag @article.picture.url if @article.picture?  %>
</div>

</div>

<div class="row col-md-12">
<div class="col-md-12">
<%=@article.content.html_safe%>
</div>

</div>

<div class="row col-md-12 vert-offset-top-2">
<div class="col-md-12">
<%=link_to "Ver Todas as Noticias", showNoticias_path %>
</div>

</div>
</div>
