<% provide(:title, @user.name) %>
<aside class="col-md-3">
 <div class="col-md-12 ">
  <h4><%= @user.name %></h4>
</div>

<div class="col-md-12">
    <section class="user_info">
        <!--imagem do utilizador se nao existir expoe uma por defeito-->
        <%= image_tag @user.picture.url if @user.picture?  %>
        <%= image_tag("fpo_avatar.png",size: "160x160") if !@user.picture?%>
        <br></br>
        <%if @user.cv?%>
        <span style="text-decoration: underline; color:blue"> <%=link_to "Curriculum Vitae", @user.cv.url %></span>
        <%end%>
        <%if logged_in?%>
        <% if current_user.tipouser == "admin" && !current_user?(@user) %>
        <%= link_to "Editar Perfil",  edit_user_path(@user), :class=>"btn btn-primary"%>
        <br> <br>
        <%=link_to  "Eliminar", @user, :method => :delete, :class=>"btn btn-primary"%>
        <% end %>
        <% if current_user?(@user) %>
        <%= link_to "Editar Perfil",  edit_user_path(@user), :class=>"btn btn-primary"%>
        <% end %>

        <% if current_user.tipouser=="entidade" %>

            <%= render 'follow_form' if logged_in? %>
        <% end %>


        <%end%>
        <br></br>
    </section>
</div>

</aside>

    <div class="col-md-9 vert-offset-top-2">
       <%if @user.apresentacao?%>   <b>Apresentação:</b><br>
        <%=@user.apresentacao.html_safe%><br><br><%end%>
        <%if @user.areaprof?%><b>Actividade Profissional:</b><br>
        <%=@user.areaprof%><br><%end%>

        <%if @user.situacaoprof?||@user.niveldehab?||@user.habilitlit?||@user.expProf?%><h3>Dados Profissionais</h3>
       <%if @user.situacaoprof? %><b>Situação Profissional:</b><br>
        <%=@user.situacaoprof%><br><br><%end%>
       <%if @user.niveldehab?%> <b>Nível de Habilitações:</b><br>
        <%=@user.niveldehab%><br><br><%end%>
        <%if @user.habilitlit?%><b>Habilitações Literárias:</b><br>
        <%=@user.habilitlit.html_safe%><br><br><%end%>
       <%if @user.expProf?%> <b>Experiencia Profissional:</b><br>
        <%=@user.expProf.html_safe%><br><%end%>  <%end%>
        <br>
        <h3>Dados Pessoais</h3>
        <%if @user.morada?||@user.codPostal?%><b>Morada:</b><br>
        <%if @user.morada?%><%=@user.morada.html_safe%><br><%end%>
       <%if @user.codPostal?%> <%=@user.codPostal%><br><br><%end%><%end%>
        <b>Contactos:</b><br>
      <%if @user.telemovel?%> Tel: <%=@user.telemovel%><br><%end%>
        Email: <%=@user.email%>
    </div>
      <div class="col-md-12">
    <%=link_to "Ver Candidatos", showCandidatos_path%>
    </div>
