<% provide(:title, @user.name) %>

<aside class="col-md-3">

        <div class="col-md-12">
            <section class="user_info">
                <div class="col-md-12">
                  <h1><%= @user.name %></h1>
                </div>
                <!--imagem do utilizador se nao existir expoe uma por defeito-->
                <%= image_tag @user.picture.url if @user.picture?  %>
                <%= image_tag("man.png",size: "160x160") if !@user.picture?%>
                <br></br>
                <%if @user.cv?%>
                <span style="text-decoration: underline; color:blue"> <%=link_to "Curriculum Vitae", @user.cv.url %></span>
                <%end%>
                <%if logged_in?%>
                <% if current_user.tipouser == "admin" && !current_user?(@user) %>
                <%= link_to "Editar Perfil",  edit_user_path(@user), :class=>"btn btn-primary"%>
                <% end %>
                <% if current_user?(@user) %>
                <%= link_to "Editar Perfil",  edit_user_path(@user), :class=>"btn btn-primary"%>
                <% end %>
                <% end %>
                <br></br>
                  <!--seguidores-->
                   <div class="row col-md-12" >
                     <section class="stats">
                        <%if logged_in?%>
                        <%= render 'shared/stats' %>
                        <% end %>
                    </section>
                    </div>
                <br></br>
            </section>
        </div>

</aside>


    <div class="col-md-9 vert-offset-top-2">
       <%if @user.apresentacao?%> <b>Apresentação:</b>
        <br>
        <%=@user.apresentacao.html_safe%><br><br><%end%>
        <%if @user.actividadeprofissional?%><b>Actividade Profissional:</b><br>
        <%=@user.actividadeprofissional%><br><br><%end%>
        <%if @user.morada? || @user.codPostal?%><b>Morada:</b><br>
        <%if @user.morada?%><%=@user.morada.html_safe%><br><%end%>
        <%if @user.codPostal?%><%=@user.codPostal%><br><br><%end%><%end%>
        <b>Contactos:</b><br>
       <%if @user.telemovel?%> Tel: <%=@user.telemovel%><br><%end%>
       <%if @user.fax?%> Fax: <%=@user.fax%><br><%end%>
        Email: <%=@user.email%><br><br>
        <%if @user.paginaweb?%><b>Página:</b><br>
        <%=link_to @user.paginaweb%><%end%>
    </div>

<%if @user.offers.count>0%>
<div class="row">
    <div class="col-md-12">
        <%@offers=@user.offers.where(ativado: true).order(updated_at: :desc, created_at: :desc).paginate(page: params[:page],:per_page => 4) %>
        <h3>Ofertas Activas </h3><br>
        <%=render @offers%>
        <div class="col-md-12">
    <%= will_paginate @offers%>
    </div>
</div>

</div>
<%end%>
<div class="col-md-12 col-md-offset-5">
        <%if logged_in?%>
        <% if current_user.tipouser == "admin" && !current_user?(@user) %>
        <%= link_to "Inserir Nova Oferta",  offers_new_path, :class=>"btn btn-primary"%>
        <% end %>
        <% if current_user?(@user) %>
        <%= link_to "Inserir Nova Oferta",  offers_new_path, :class=>"btn btn-primary"%>
        <% end %>
        <%end%>
    </div>

      <div class="col-md-12">
    <%=link_to "Ver entidades", showEntidades_path%>
    </div>
