<%= simple_form_for @user, url: users_url, as: 'user'  do |f| %>
<%= render 'shared/error_messages' %>
<div class="col-md-3">
  <%= f.input :name ,label: "Nome"%>
  <%= f.input :password, hint: false  %>
  <%= f.input :password_confirmation, label: "Confirma a password" %>
  <%= f.input :email, label: "Email" %>
  <%= f.input :datadenasc, label: "Data De Nascimento", :input_html => { :class => 'datepicker' } %>
  <!--falta por a foto-->
</div>
<div class="col-md-9">
  <%= f.input :morada, label: "Morada" %>
  <%= f.input :codPostal, label: "Codigo Postal" %>
  <%= f.input :telemovel, label: "Telemovel" %>
</div>
<!--colocar tinymce  para apresentaçao-->
<div class="col-md-6">
  <%= f.text_area :apresentacao,label: "Apresentação", :input_html => { :class => "textarea" } %>
  <%= f.input :niveldehab, label: "Nível de habilitações", as: :select,
  collection: [
  'Secundário',
  'Licenciado',
  'Mestre',
  'Doutorado'],
  :selected => 0
  %>
  <!--colocar tinymce  para habilitaçoes literarias-->
  <%= f.text_area :habilitlit,label: "Habilitações Literárias", :input_html => { :class => "textarea" } %>
  <%= f.input :situacaoprof, label: "Situação profissional", as: :select,
  collection: [
  'Empregado',
  'Desempregado'],
  :selected => 1
  %>
  <!--colocar tinymce  para Exp profissional-->
  <%= f.text_area :expProf,label: "Experiência profissional", :input_html => { :class => "textarea" } %>
  <%= f.input :localidade, label: "Localidade" %>
  <%= f.input :paginapessoal, label: "Página pessoal" %>
  <%= f.input :bi, label: "Bilhete de identificação" %>
  <%= f.input :areaprof, label: "Área profissional", as: :select,
  collection: [
  'Progamador Web',
  'Eng de software',
  'Eng de sistemas',
  'outro'],
  :selected => 3
  %>
  <!--direita-->
</div>
<%= f.button :submit %>
<% end %>
