<div class="col-md-6">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag(user.picture.url,size: "120x120") if user.picture?  %>
      <%if user.tipouser=='candidato'%>
      <%= image_tag("fpo_avatar.png",size: "120x120") if !user.picture?%>
      <%end%>
      <%if user.tipouser=='entidade'%>
      <%= image_tag("man.png",size: "120x120") if !user.picture?%>
      <%end%>
    </div>

    <div class="col-md-9">
    <div class="row col-md-12">

      <%= link_to user.name, user %>
    </div>

      <%if user.tipouser=='candidato'%>

      <div class="row col-md-12">
      <%=user.areaprof%>
      </div>
      <div class="row col-md-12">
      <%=user.niveldehab%>
      </div>
      <div class="row col-md-12">
      <%=user.situacaoprof%>    </div>
      <% end %>





      <%if user.tipouser=='entidade'%>
      <div class="row col-md-12">
      <%if user.offers.count > 0%>
      <%=user.offers.count%> ofertas ativas!
      <%else%>
      Não tem ofertas!
      <% end %>
      </div>
      <div class="row col-md-12">
      <%=truncate(user.apresentacao, :length => 80)%>
      </div>
      <div class="row col-md-12">
      <%=user.situacaoprof%>
      </div>
      <% end %>
      </div>

    </div>

  <br>
  <div class="row col-md-12" >
    <%if logged_in?%>


      <%if current_user.tipouser=='entidade' && user.tipouser=='candidato'%>
       <div class="col-md-6">
      <% @user=user%>
            <%= render 'follow_form' if logged_in? %>
       </div>
      <% end %>
      <%if current_user.tipouser=='candidato' && user.tipouser=='entidade'%>
       <div class="col-md-6">
           <% @user=user%>
            <%= render 'follow_form' if logged_in? %>
       </div>
      <% end %>


      <div class="col-md-3">
        <% if current_user.tipouser == "admin" && !current_user?(user) %>
        <%= link_to "Editar ",  edit_user_path(user), :class=>"btn btn-primary"%>
        <% end %>
        <% if current_user?(user) %>
        <%= link_to "Editar ",  edit_user_path(user), :class=>"btn btn-primary"%>
        <% end %>
      </div>
      <div class="col-md-3">
        <% if current_user.tipouser=="admin" && !current_user?(user) %>
        <%=button_to  "Eliminar", user, :method => :delete, :class=>"btn btn-primary"%>
        <% end %>
      </div>
       <% end %>
    </div>


    <br>
    <br>
  </div>
