<% provide(:title, 'Edit user') %>
  <%= render 'shared/error_messages' %>
<div class="row">
  <div class="col-md-4"><h3>Alterar Password</h3></div>
</div>
<div class="row">
<div class="col-md-12">
<p><b>Nome:</b></p>
<%=@user.name%>
</div>
</div>

<div class="row vert-offset-top-2">
  <%= simple_form_for @user ,:url => updatePW_path, :method => :post ,:id  => @user.id do |f| %>

  <!--campos esquerda sup-->
  <div class="col-md-4">
  <%=f.label "Password Atual", required: true%>
<%= password_field_tag :current_password, params[:current_password], placeholder: "Password" , class:"form-control"%>

    <%= f.input :password, label: "Password" %>

    <%= f.input :password_confirmation, label: "Confirmação da Password", required: true%>

  <%= f.button :submit,"Ok" , class: " btn btn btn-primary  col-md-2"%>
  <%= link_to "Cancel", :back, {:class=>"btn btn btn-primary  col-md-offset-1"} %>

  </div>


</div>





  <%end%>






