<% provide(:title, 'All users') %>



<h1>All users</h1>

<div class ="row col-md-12 vert-offset-top-1 vert-offset-bottom-2">
  <div class="col-md-6 ">
<%= simple_form_for users_path, :method => 'get' do |f|%>
    <div class="input-group">
      <div class="col-md-3 ">
      <%= f.submit "Go!", :class =>"btn btn-default"%>
      </div>
      <div class="col-md-5 col-md-offset-2">
      <%= text_field_tag :containcand, params[:name], :class=>"form-control", :placeholder=>"Search for...",:type=>"text" ,label: false , :maxlength=>"15"%>
      </div>
    </div>
<%end%>
  </div>
</div>

<ul class="users">

  <%= render @users %>
</ul>

<%= will_paginate %>
