<%= tinymce_assets %>
<div class="row">
  <div class="col-md-4"><h3>Novo Candidato</h3></div>
</div>
<div class="row">
  <%= simple_form_for @user, url: users_url, as: 'user' ,html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages' %>
  <!--campos esquerda sup-->
  <div class="col-md-4">
    <%= f.hidden_field :tipouser, :value => 'candidato'%>
    <%= f.input :email, label: "Email" %>
    <%= f.input :password, hint: false  %>
    <%= f.input :name ,label: "Nome"%>
  </div>
  <!--direita sup-->
  <div class="col-md-4 vert-offset-top-5">
    <%= f.input :password_confirmation, label: "Confirma a password" %>
    <%= f.input :picture, :as => :file, label:"Imagem de Perfil" %>
  </div>
  <!--row nova-->

    <!-- morada linha completa-->
    <div class="col-md-12">
      <%= f.input :morada,  :as => :text, :input_html => { :class => 'tinymce'} %>

  </div>
  <!--campos paralelos-->

    <div class="col-md-2">
      <%= f.input :codPostal, label: "Codigo Postal" %>
      <%= f.input :telemovel, label: "Telemovel" %>
      <%= f.input :datadenasc, :as => :date,start_year: Date.today.year - 90,
                              end_year: Date.today.year - 12%>
      <%= f.input :cv, :as => :file, label:"Curriculum Vitae" %>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
      <%= f.input :localidade, label: "Localidade" %>
      <%= f.input :paginapessoal, label: "Página pessoal" %>
      <%= f.input :bi, label: "Bilhete de identificação" %>
      <%= f.input :areaprof, label: "Área profissional", as: :select,
      collection: [
      'Progamador Web',
      'Eng de software',
      'Eng de sistemas',
      'outro'],
      :selected => 3
      %>
    </div>


    <!-- apresentaçao linha completa-->
    <div class="col-md-12">
      <%= f.input :apresentacao,  label: "Apresentacão", :as => :text, :input_html => { :class => 'tinymce'} %>
    </div>


    <!-- droplist-->
    <div class="col-md-2">
      <%= f.input :niveldehab, label: "Nível de habilitações", as: :select,
      collection: [
      'Secundário',
      'Licenciado',
      'Mestre',
      'Doutorado'],
      :selected => 0
      %>
    </div>


    <!-- habilit linha completa-->
    <div class="col-md-12">
      <%= f.input :habilitlit,  label: "Habilitações literárias", :as => :text, :input_html => { :class => 'tinymce'} %>
    </div>


    <!-- droplist-->
    <div class="col-md-2">
      <%= f.input :situacaoprof, label: "Situação profissional", as: :select,
      collection: [
      'Empregado',
      'Desempregado'],
      :selected => 1
      %>
    </div>


    <!-- expprof linha completa-->
    <div class="col-md-12">
      <%= f.input :expProf,  label: "Experiência Profissional", :as => :text, :input_html => { :class => 'tinymce'} %>
    </div>


    <div class="col-md-2 col-md-offset-4">
      <%= f.button :submit,"Criar Candidato" , class: "btn btn-primary"%>
    </div>
    <% end %>

</div>
<%= tinymce %>

