<%= tinymce_assets %>
<div class="row">
  <div class="col-md-4"><h3>Nova Entidade</h3></div>
</div>
<div class="row">
  <%= simple_form_for @user, url: users_url, as: 'user' ,html: { multipart: true } do |f| %>

  <%= render 'shared/error_messages' %>
  <!--campos esquerda sup-->
  <div class="col-md-4">
    <%= f.hidden_field :tipouser, :value => 'entidade'%>
    <%= f.input :email, label: "Email" %>
    <%= f.input :password, hint: false  %>
    <%= f.input :name ,label: "Nome"%>
  </div>
  <!--direita sup-->
  <div class="col-md-4 vert-offset-top-5">
    <%= f.input :password_confirmation, label: "Confirma a password" %>
    <%= f.input :picture, :as => :file , label: "Imagem de Perfil" %>
  </div>
  <!--row nova-->

    <!-- morada linha completa-->
    <div class="col-md-12">
      <%= f.input :morada,  :as => :text, :input_html => { :class => 'tinymce'} %>
    </div>

  <!--campos paralelos-->

    <div class="col-md-2">
      <%= f.input :codPostal, label: "Codigo Postal" %>
      <%= f.input :telemovel, label: "Telemovel" %>
      <%= f.input :nif, label: "NIF" %>
      <%= f.input :atividadeprofissional, label: "Actividade profissional", as: :select,
      collection: [
      'Progamador Web',
      'Eng de software',
      'Eng de sistemas',
      'outro'],
      :selected => 3
      %>
    </div>
    <div class="col-md-2 vert-offset-top-5">
      <%= f.input :fax, label: "Fax" %>
    </div>
    <div class="col-md-2 col-md-offset-2">
      <%= f.input :localidade, label: "Localidade" %>
      <%= f.input :paginaweb, label: "Página web" %>
    </div>


    <!-- apresentaçao linha completa-->
    <div class="col-md-12">
      <%= f.input :apresentacao,  label: "Apresentacão", :as => :text, :input_html => { :class => 'tinymce'} %>
    </div>


    <div class="col-md-2 col-md-offset-4">
      <%= f.button :submit,"Criar Entidade" , class: "btn btn-primary"%>
    </div>
    <% end %>

</div>
<%= tinymce %>
