<div class="row">
<div class="col-md-6">

<h3>Ofertas</h3>
<div class="col-md-12">
  <% @offersAtivas.each do |f|%>
<div class="row">
    <div class="col-md-4">
      <%= image_tag(f.picture.url , size: "100x80")if f.picture?  %>
      <%= image_tag("oferta.png",size: "100x80") if !f.picture?%>
<p>      <%= link_to "Editar",  edit_offer_path(f), :class=>"btn btn-primary"%></p>
      <%=simple_form_for f do |f|%>
     <%= f.hidden_field :ativado, :value => false%>
       <%= f.button :submit,"Cancelar" , class: "btn btn-primary"%>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="col-md-12">
        <%=link_to f.title, f %>
      </div>
      <div class="col-md-12">
        <%=f.dataInicio%> - <%=f.dataFim%>
      </div>
      <div class="col-md-12">
        <%= truncate(f.content, :length => 35) %>
        Posted <%= time_ago_in_words(f.created_at) %> ago.
      </div>
    </div>
    <br>
    <br>
    <br>
</div>



  <% end %>
   <div class="col-md-12 ">
  <%= will_paginate @offersAtivas, :param_name => 'o_page'%>
  </div>
</div>


</div>



<div class="col-md-6">
<h3>Entidade</h3>
<%= link_to "Editar Perfil",  edit_user_path(current_user), :class=>"btn btn-primary"%>
<%= link_to "Alterar Password ",  editPwUser_path(current_user), :class=>"btn btn-primary"%>
<%= link_to "Inserir Nova Oferta",  offers_new_path, :class=>"btn btn-primary"%>
</div>
</div>


<div class="row">
<div class="col-md-6">
<h3>Histórico</h3>


<%if @historicoOffers.any?%>
  <% @historicoOffers.each do |f|%>
<div class="row">
    <div class="col-md-4">
      <%= image_tag(f.picture.url , size: "100x80")if f.picture?  %>
      <%= image_tag("oferta.png",size: "100x80") if !f.picture?%>
            <%=simple_form_for f do |f|%>
     <%= f.hidden_field :ativado, :value => true%>
       <%= f.button :submit,"Reativar" , class: "btn btn-primary"%>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="col-md-12">
        <%=link_to f.title, f %>
      </div>
      <div class="col-md-12">
        <%=f.dataInicio%> - <%=f.dataFim%>
      </div>
      <div class="col-md-12">
        <%= truncate(f.content, :length => 35) %>
        Posted <%= time_ago_in_words(f.created_at) %> ago.
      </div>
    </div>
    <br>
    <br>
    <br>
</div>
  <% end %>
   <div class="col-md-12">
  <%= will_paginate @historicoOffers, :param_name => 'ho_page'%>
  </div>
    <%else%>
  <h5>Não tem ofertas no histórico</h5>
  <% end %>

</div>


<div class="col-md-6">
<h3>Candidatos interessados</h3>
<%if @candinteressados.any?%>

<% @candinteressados.each do |u|%>
  <div class="col-md-12">
    <div class="col-md-3">
      <%= image_tag(u.picture.url,size: "100x80") if u.picture?  %>
      <%= image_tag("fpo_avatar.png",size: "100x80") if !u.picture?%>
    </div>
    <div class="col-md-9">
      <div class="row col-md-12">
        <%= link_to u.name, u %>
      </div>
      <div class="row col-md-12">
        <%=u.areaprof%>
      </div>
      <div class="row col-md-12">
        <%=u.niveldehab%>
      </div>
      <div class="row col-md-12">
        <%=u.situacaoprof%>
      </div>
    </div>
    <br>
  </div>
  <%end%>
     <div class="col-md-12">
  <%= will_paginate @candinteressados, :param_name => 'c_page'%>
  </div>

  <%else%>
  <h5>Não tem candidatos interessados.</h5>
  <% end %>
</div>
</div>
