<div class="row">
<div class="col-md-6">
<%if @candidaturas.any?%>
<h3>Candidaturas</h3>
<% @candidaturas.each do |f|%>
<div class="row">
    <div class="col-md-4">
      <%= image_tag(f.picture.url , size: "100x80")if f.picture?  %>
      <%= image_tag("oferta.png",size: "100x80") if !f.picture?%>

    </div>
    <div class="col-md-8">
      <div class="col-md-12">
        <%=link_to f.title, f %>
      </div>
      <div class="col-md-12">
        <%=f.dataInicio%> - <%=f.dataFim%>
      </div>
      <div class="col-md-12">
        <%= truncate(f.content, :length => 35) %>
        Posted <%= time_ago_in_words(f.created_at) %> ago.
      </div>
    </div>
    <br>
    <br>
    <br>
</div>
<% end %>
<div class="col-md-12">
  <%= will_paginate @candidaturas, :param_name => "c_page"%>
</div>
</div>
<%end%>


<div class="col-md-6">
<h3>Candidato</h3>
<%= link_to "Editar Perfil",  edit_user_path(current_user), :class=>"btn btn-primary"%>
<%= link_to "Alterar Password ",  editPwUser_path(current_user), :class=>"btn btn-primary"%>
</div>
</div>


<div class="row">
<div class="col-md-6">
<h3>Empresas interessadas em mim</h3>
<% @empinteressadas.each do |e|%>
  <div class="col-md-12">
    <div class="col-md-3">
      <%= image_tag(e.picture.url,size: "100x80") if e.picture?  %>
      <%= image_tag("man.png",size: "100x80") if !e.picture?%>
    </div>
    <div class="col-md-9">
      <div class="row col-md-12">
        <%= link_to e.name, e %>
      </div>
      <div class="row col-md-12">
        <%if e.offers.count > 0%>
        <%=e.offers.count%> ofertas ativas!
        <%else%>
        Não tem ofertas!
        <%end%>
      </div>
      <div class="row col-md-12">
        <%=truncate(e.apresentacao, :length => 35)%>
      </div>
    </div>
    <br>
  </div>
  <%end%>
     <div class="col-md-12">
  <%= will_paginate @empinteressadas,:param_name => "e_page"%>
  </div>
</div>
</div>
