<% provide(:title, 'Candidatos') %>
<h1>Candidatos</h1>
<div class="row">


<div class ="row col-md-12 vert-offset-top-1 vert-offset-bottom-2">

<%= simple_form_for '', :method => 'get' do |f|%>

      <div class="col-md-2 ">
      <%= f.submit "Go!", :class =>"btn btn-default"%>
      </div>
      <div class="col-md-2">
      <%= text_field_tag :name, params[:name], :class=>"form-control", :placeholder=>"Procurar por...",:type=>"text" ,label: false , :maxlength=>"15"%>


      </div>
      <div class="col-md-2">
         <%= f.input :areaprof, as: :select, collection: @areasprof ,label: false,prompt: 'Área Profissional',:include_blank => false%>

    </div>
          <div class="col-md-3">
         <%= f.input :situacaoprof, as: :select, collection: @situacoesprof ,label: false,prompt: 'Situação Profissional',:include_blank => false%>

    </div>
     <div class="col-md-2">
      <%= f.input :localidade, as: :select, collection: @localidades ,label: false,prompt: 'Localidade',:include_blank => false%>

    </div>
<%end%>

</div>


</div>
<%if @users.any?%>
  <%= render @users %>
<%end%>
<div class="col-md-12">
<%= will_paginate %>
</div>
