<% provide(:title, @title) %>


<div class="row col-md-12">
  <aside class="col-md-3">
    <section class="user_info">
    <%= image_tag(@user.picture.url,size: "100x100") if @user.picture?  %>
    <%= image_tag("fpo_avatar.png",size: "100x100") if !@user.picture?%>
      <h1><%= @user.name %></h1>
      <span><%= link_to "Ver o meu perfil", @user %></span>
      <span><b>Ofertas:</b> <%= @user.offers.count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
      <% if @users.any? %>
      <div class="user_avatars">
        <% @users.each do |user| %>
     <%= image_tag(user.picture.url,size: "30x30") if user.picture?  %>
      <%= image_tag("fpo_avatar.png",size: "30x30") if !user.picture?%>
        <% end %>
      </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-9">
    <h3><%= @title %></h3>
    <% if @users.any? %>
    <ul class="users follow">
      <%= render @users %>
    </ul>
    <%= will_paginate %>
    <% end %>
  </div>
</div>
