<div class="row">
<div class="col-md-12">
<h3>Detalhe da Notícia</h3>
</div>

<div class="col-md-6 vert-offset-top-3">
<p><b>Título</b></p>
<%=@noticia.title%>
</div>

<div class="col-md-6 vert-offset-top-3">
<p><b>Data</b></p>
<%=@noticia.data%>
</div>


<div class="col-md-12 vert-offset-top-3">
<p><b>Sumário</b></p>
<%=@noticia.sumario%>
</div>
<div class="col-md-12 vert-offset-top-3">
<p><b>Texto</b></p>
<%=@noticia.content%>
</div>
<div class="col-md-12 vert-offset-top-3">
<p><b>Imagem</b></p>
<div class="col-md-12">
<%= image_tag @noticia.picture.url if @noticia.picture?  %>
</div>
</div>

<div class="col-md-6 vert-offset-top-3">
<p><b>Destaque</b></p>
<%if @noticia.destaque? %>
Sim
<%else%>
Não
<%end%>
</div>
<div class="col-md-6 vert-offset-top-3">
<p><b>Activo</b></p>
<%if @noticia.activated? %>
Sim
<%else%>
Não
<%end%>
</div>





<div class="col-md-6 vert-offset-top-3">
<%= link_to "Editar ",  {:controller => "backoffice", :action => "editNoticia", :id => @noticia.id }, :class=>"btn btn-primary"%>
<%=link_to  "Apagar", @noticia, :method => :delete, :class=>"btn btn-primary"%>
<%= link_to "Inserir ",  {:controller => "backoffice", :action => "inserirNoticia", :id => @noticia.id }, :class=>"btn btn-primary"%>
<%= link_to "Listagem ",  articles_path , :class=>"btn btn-primary"%>
</div>
</div>

