<div class="row">
<div class="col-md-12">
<h3>Detalhe do utilizador</h3>
</div>

<div class="col-md-6 vert-offset-top-3">
<p><b>Nome</b></p>
<%=@user.name%>
</div>

<div class="col-md-6 vert-offset-top-3">
<p><b>Tipo</b></p>
<%=@user.tipouser%>
</div>


<div class="col-md-6 vert-offset-top-3">
<p><b>Email</b></p>
<%=@user.email%>
</div>

<div class="col-md-6 vert-offset-top-3">
<p><b>Activo</b></p>
<%if @user.activated? %>
Sim
<%else%>
Não
<%end%>
</div>
<div class="col-md-6 vert-offset-top-3">
<%= link_to "Editar ",  {:controller => "backoffice", :action => "editUser", :id => @user.id }, :class=>"btn btn-primary"%>
<%= link_to "Alterar Password ",  {:controller => "backoffice", :action => "editPw", :id => @user.id }, :class=>"btn btn-primary"%>
<%if @user.tipouser!='admin'%>
<%=link_to  "Apagar", @user, :method => :delete, :class=>"btn btn-primary"%>
<%end%>
<%= link_to "Inserir ",  {:controller => "backoffice", :action => "inserirUser", :id => @user.id }, :class=>"btn btn-primary"%>
<%= link_to "Listagem ",  users_path , :class=>"btn btn-primary"%>
</div>
</div>

