<div class ="row col-md-12">
<div class="col-md-12">
<h3>Utilizadores</h3>
</div>

</div>



<div class ="row col-md-12 vert-offset-top-1 vert-offset-bottom-2">

<%= simple_form_for '', :method => 'get' do |f|%>

      <div class="col-md-2 ">
      <%= f.submit "Go!", :class =>"btn btn-default"%>
      </div>
      <div class="col-md-2">
      <%= text_field_tag :name, params[:name], :class=>"form-control", :placeholder=>"Procurar por...",:type=>"text" ,label: false , :maxlength=>"15"%>


      </div>
      <div class="col-md-2">
         <%= f.input :tipo, as: :select, collection: @tipos ,label: false,prompt: 'Tipo',:include_blank => false%>

    </div>

<%end%>

</div>




<div class ="row col-md-12 vert-offset-top-1">

<div class="col-md-12">
<table class="table table-fixed">
    <thead>
      <tr>
        <th class="col-md-3">Nome</th>
        <th class="col-md-3">Tipo</th>
        <th class="col-md-3">Ativo</th>
        <th class="col-md-3">Ações</th>
      </tr>
    </thead>
    <tbody>
<%@users.each do |t| %>
<tr>
        <td class="col-md-3"><%=t.name%></td>
        <td class="col-md-3"><%=t.tipouser%></td>
        <%if t.activated? %>
        <td class="col-md-3">Sim</td>
        <%else%>
        <td class="col-md-3">Não</td>
        <%end%>
        <td class="col-md-3">
        <%= link_to "Detalhes ",  {:controller => "backoffice", :action => "detalhesUser", :id => t.id }, :class=>"btn btn-primary"%>
        <%= link_to "Editar ",  {:controller => "backoffice", :action => "editUser", :id => t.id }, :class=>"btn btn-primary"%>
      <%if t.tipouser!='admin'%>
        <%=link_to  "Apagar", t, :method => :delete, :class=>"btn btn-primary"%>
        <%else%>
        <button class="btn btn-default"> Apagar</button>
      <%end%>
        </td>
</tr>
<%end%>
</tbody>

</table>

<%= link_to "Inserir Novo Utilizador",  {:controller => "backoffice", :action => "inserirUser" }, :class=>"btn btn-primary"%>
 </div>


</div>
