<% provide(:title, 'Edit user') %>

<div class="row">
  <div class="col-md-4"><h3>Alterar Password</h3></div>
</div>
<div class="row">
<div class="col-md-12">
<p><b>Nome:</b></p>
<%=@user.name%>
</div>
</div>

<div class="row vert-offset-top-2">
  <%= simple_form_for @user, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages' %>
  <!--campos esquerda sup-->
  <div class="col-md-4">

    <%= f.input :password, label: "Password" %>

    <%= f.input :password_confirmation, label: "Confirmação da Password" %>

  <%= f.button :submit,"Ok" , class: " btn btn btn-primary  col-md-2"%>
  <%= link_to "Cancel", :back, {:class=>"btn btn btn-primary  col-md-offset-1"} %>

  </div>


</div>





  <%end%>






