<div class ="row col-md-12">
<div class="col-md-12">
<h3>Noticias</h3>
</div>

</div>



<div class ="row col-md-12 vert-offset-top-1 vert-offset-bottom-2">

<%= simple_form_for '', :method => 'get' do |f|%>

      <div class="col-md-2 ">
      <%= f.submit "Go!", :class =>"btn btn-default"%>
      </div>
      <div class="col-md-2">
      <%= text_field_tag :name, params[:name], :class=>"form-control", :placeholder=>"Procurar por...",:type=>"text" ,label: false , :maxlength=>"15"%>


      </div>


<%end%>

</div>

<div class ="row col-md-12 vert-offset-top-1">

<div class="col-md-12">
<table class="table table-fixed">
    <thead>
      <tr>
        <th class="col-md-3">Noticia</th>
        <th class="col-md-5">Data</th>
        <th class="col-md-1">Destaque</th>
        <th class="col-md-1">Activo</th>
        <th class="col-md-2">Acções</th>
      </tr>
    </thead>
    <tbody>
<%@noticias.each do |t| %>
<tr>
        <td class="col-md-3"><%=t.title%></td>
        <td class="col-md-5"><%=t.created_at%></td>
        <%if t.destaque? %>
        <td class="col-md-1">Sim</td>
        <%else%>
        <td class="col-md-1">Não</td>
        <%end%>
        <%if t.activated? %>
        <td class="col-md-1">Sim</td>
        <%else%>
        <td class="col-md-1">Não</td>
        <%end%>
        <td class="col-md-2">
        <%= link_to "Detalhes ",  {:controller => "backoffice", :action => "detalhesNoticia", :id => t.id }, :class=>"btn btn-primary"%>
        <%= link_to "Editar ",  {:controller => "backoffice", :action => "editNoticia", :id => t.id }, :class=>"btn btn-primary"%>
        <%=link_to  "Apagar", t, :method => :delete, :class=>"btn btn-primary"%>

        </td>
</tr>
<%end%>
</tbody>

</table>

<%= link_to "Inserir Nova Noticia",  {:controller => "backoffice", :action => "inserirNoticia" }, :class=>"btn btn-primary"%>
 </div>


</div>
