<% provide(:title, 'Edit user') %>
<%= tinymce_assets %>
<div class="row">
  <div class="col-md-4"><h3>Inserir Notícia</h3></div>
</div>


<div class="row">
<%= simple_form_for @noticia, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages_article' %>
<div class="col-md-4">
<p><b>Título</b></p>
<%=f.input :title,as: :string, label: false%>
</div>
<div class="col-md-6 col-md-offset-2">
<%=f.input :data%>
</div>


<div class="col-md-12">
<%= f.input :sumario,  :as => :text, :input_html => { :class => 'tinymce'} %>
</div>

<div class="col-md-12">
<%= f.input :content,  :as => :text, :input_html => { :class => 'tinymce'} %>
</div>
<div class="col-md-12">
<%= f.input :picture, :as => :file , label: "Imagem de Perfil" %>
</div>
<div class="col-md-12">
<div class="col-md-2">
<h4>Destaque</h4>
    <%= f.input :destaque, as: :boolean, label: "Sim" %>
</div>
<div class="col-md-2 col-md-offset-2">
<h4>Activo</h4>
    <%= f.input :activated, as: :boolean, label: "Sim" %>
</div>
</div>
<div class="col-md-12">
<div class="col-md-3">
  <%= f.button :submit,"Ok" , class: " btn btn btn-primary  col-md-2"%>

  <%= link_to "Cancelar", :back, {:class=>"btn btn btn-primary "} %>
</div>
</div>
</div>
<%end%>
<%= tinymce %>
