<% provide(:title, 's') %>

<div class="row">
  <div class="col-md-4"><h3>Inserir Utilizador</h3></div>
</div>
<div class="row">
  <%= simple_form_for @user, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages' %>
  <!--campos esquerda sup-->
  <div class="col-md-4">
    <%= f.hidden_field :password, :value => 'example'%>

    <%= f.input :email, label: "Email" %>

    <%= f.input :name ,label: "Nome"%>

  <%= f.button :submit,"Ok" , class: " btn btn btn-primary  col-md-2"%>
  <%= link_to "Cancel", :back, {:class=>"btn btn btn-primary  col-md-offset-1"} %>

  </div>


  <div class="col-md-2">

  <%= f.input :tipouser, label: "Tipo", as: :select,
      collection: [
      'entidade',
      'candidato',],
      :selected => 0
      %>
    <%= @user.tipouser%>
  <h4>Activo</h4>
    <%= f.input :activated, as: :boolean, label: "Sim" %>

  </div>
</div>





  <%end%>






