<div id="candidatures_form_<%= @offer.id %>">
  <% if current_user.userCandidates?(@offer) %>
  <%= render 'offers/descandidatarse' %>
  <% else %>
<%=render 'offers/candidatarse' %>
  <% end %>
</div>

