<div class="col-md-6">
<div class="row">
    <div class="col-md-4">
      <%= image_tag(offer.picture.url , size: "120x120")if offer.picture?  %>
      <%= image_tag("oferta.png",size: "120x120") if !offer.picture?%>
    </div>
    <div class="col-md-8">
    <div class="col-md-12">
      <%=link_to offer.title, offer %>
    </div>
    <div class="col-md-12">
      <%=offer.dataInicio%> - <%=offer.dataFim%>
    </div>
    <div class="col-md-12">
      <%= truncate(offer.content, :length => 80) %>
      Posted <%= time_ago_in_words(offer.created_at) %> ago.
    </div>
    </div>
</div>
  <br>
  <div class="row col-md-12">

      <%if logged_in?%>

          <% if current_user.tipouser == "candidato" %>
          <div class="col-md-4">

           <% @offer=offer%>

            <%= render 'offers/candidature_form' if logged_in? %>
        </div>
          <% end %>


        <div class="col-md-4">
          <% if current_user.tipouser == "admin" %>

          <%= link_to "Editar",  edit_offer_path(offer), :class=>"btn btn-primary"%>
          <% end %>
          <% if current_user.offers.include? offer%>
          <%= link_to "Editar",  edit_offer_path(offer), :class=>"btn btn-primary"%>
          <% end %>
        </div>
        <div class="col-md-4">
          <% if current_user.tipouser=="admin" && current_user.id!=offer.user_id %>
          <%=button_to  "Eliminar", offer, :method => :delete, :class=>"btn btn-primary"%>
          <% end %>
        </div>
        <% end %>

    </div>
    <br>
    <br>
  </div>
