<%= tinymce_assets %>
<%= simple_form_for @offer,html: { multipart: true } do |f| %>
<%= render 'shared/error_messages_ofertas' %>
<div class="row vert-offset-top-5">
  <div class="col-md-5">
    <%= f.input :title, label: "Título", as: :string%>
  </div>
  <div class="col-md-3">
    <%= f.input :dataInicio, :as => :date, :input_html => {:class => 'datepicker '}%>
  </div>
  <div class="col-md-3">
    <%= f.input :dataFim, :as => :date, :input_html => {:class => 'datepicker '}%>
  </div>
</div>
<%= f.input :content,  :as => :text, :input_html => { :class => 'tinymce'} %>
<div class="row ">
<div class="col-md-12 vert-offset-bottom-2">
<p><b>Empresa</b></p>
<%=link_to current_user.name, current_user%>
</div>
  <div class="col-md-3 ">
    <%= f.input :picture, :as => :file , label: "Imagem" %>
  </div>
  <div class="col-md-2">
    <%= f.input :actividadeProf, label: "Actividade profissional", as: :select,
    collection: [
    'Progamador Web',
    'Eng de software',
    'Eng de sistemas',
    'outro'],
    :selected => 3 %>
  </div>
  <div class="col-md-2">
    <%=f.input :tipocontrato, label: "Tipo Contrato", as: :select,
    collection: [
    'Full-time',
    'Part-time'],
    :selected => 2%>
  </div>
  <div class="col-md-2">
    <%=f.input :salario, label: "Salário", as: :select,
    collection: [
    '500-1000',
    '1000-1500',
    '1500-2000',
    '2000-2500'],
    :selected => 3 %>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= f.input :ativado, as: :boolean, :input_html => { :checked => 'checked' } %>
  </div>
</div>
<div class="col-md-2 col-md-offset-3">
  <%= f.button :submit,"Guardar Alterações" , class: "btn btn-primary"%>
</div>
<% end %>
<%= tinymce %>
