

<div class="col-md-12">
<h3>
<%=@offer.title%>
</h3>
</div>

<div class="col-md-2">


      <%= image_tag(@offer.picture.url , size: "120x120")if @offer.picture?  %>
      <%= image_tag("oferta.png",size: "120x120") if !@offer.picture?%>

        <%if logged_in?%>

          <% if current_user.tipouser == "candidato" %>

            <%= render 'candidature_form' if logged_in? %>
          <% end %>

          <% if current_user.tipouser == "admin" %>
          <%= link_to "Editar",  edit_offer_path(@offer), :class=>"btn btn-primary"%>
          <% end %>
          <% if current_user.offers.include? @offer%>
          <%= link_to "Editar",  edit_offer_path(@offer), :class=>"btn btn-primary"%>
          <% end %>
        <% end %>


</div>


<div class="col-md-8 ">
<h4>Conteúdo:</h4>
<%=@offer.content.html_safe%>
<h4>Validade</h4>
De: <%=@offer.dataInicio%>
Até: <%=@offer.dataFim%>
<br>
<br>
<b>Empresa:</b>
<br>
<%=link_to @owner.name, @owner%>
<br><br>
<b>Actividade Profissional:</b>
<br>
<%=@offer.actividadeProf%>
<br><br>
<b>Tipo de Contrato</b>
<br>
<%=@offer.tipocontrato%>
<br><br>
<b>Salário</b>
<%=@offer.salario%>
</div>


<%if current_user.nil?||(current_user.tipouser !='entidade' && current_user.tipouser!='admin') %>
<%if @ofertas.any?%>
<div class="col-md-12 vert-offset-top-2">
<h3>Outras ofertas na mesma àrea</h3>
<%@ofertas.each do |oferta|%>
<div class="row col-md-12">
<%=render oferta%>
</div>
<% end %>
     <div class="col-md-12">
  <%= will_paginate @ofertas%>
  </div>
</div>
<% end %>
<% end %>

<%if logged_in?%>
<%if current_user.tipouser=='entidade'%>
<div class="col-md-12 vert-offset-top-2">
<%if @candidatos.any?%>
<h3>Candidatos:</h3>
<% @candidatos.each do |u|%>
  <div class="col-md-12">
    <div class="col-md-3">
      <%= image_tag(u.picture.url,size: "100x80") if u.picture?  %>
      <%= image_tag("fpo_avatar.png",size: "100x80") if !u.picture?%>
    </div>
    <div class="col-md-9">
      <div class="row col-md-12">
        <%= link_to u.name, u %>
      </div>
      <div class="row col-md-12">
        <%=u.areaprof%>
      </div>
      <div class="row col-md-12">
        <%=u.niveldehab%>
      </div>
      <div class="row col-md-12">
        <%=u.situacaoprof%>
      </div>
    </div>
    <br>
  </div>
  <% end %>
     <div class="col-md-12">
  <%= will_paginate @candidatos%>
  </div>
</div>

<% end %>

<% end %>
<% end %>
