<% provide(:title, 'Ofertas') %>
<h1>Ofertas</h1>
<div class ="row col-md-12 vert-offset-top-1 vert-offset-bottom-2">

<%= simple_form_for '', :method => 'get' do |f|%>

      <div class="col-md-3 ">
      <%= f.submit "Go!", :class =>"btn btn-default"%>
      </div>
      <div class="col-md-3">
      <%= text_field_tag :name, params[:name], :class=>"form-control", :placeholder=>"Procurar por...",:type=>"text" ,label: false , :maxlength=>"15"%>


      </div>
      <div class="col-md-3">
         <%= f.input :area, as: :select, collection: @areas ,label: false,prompt: 'Área de Actividade',:include_blank => false%>

    </div>
     <div class="col-md-3">
      <%= f.input :tipocont, as: :select, collection: @tiposcont ,label: false,prompt: 'Tipo de Contrato',:include_blank => false%>

    </div>
<%end%>

</div>

<%if @offers.any?%>
  <%= render @offers %>
  <%end%>
<div class="col-md-12">
<%= will_paginate %>
</div>
