<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Portal Bolsa De Emprego", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <!-- Barra superior encostado à esquerda-->
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Entidades", showEntidades_path %></li>
        <li><%= link_to "Candidatos", showCandidatos_path %></li>
        <li><%= link_to "Ofertas", showOfertas_path %></li>
        <li><%= link_to "Noticias", showNoticias_path %></li>
      </ul>
      <!-- Barra superior encostado à direita-->
      <ul class="nav navbar-nav navbar-right">
        <% if (logged_in? ) %>


             <%if(admin?)%>
                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Backoffice <b class="caret"></b>
                  </a>
                    <ul class="dropdown-menu">
                    <li><%= link_to "Home", backoffice_path %></li>
                    <li><%= link_to "Utilizadores", editUsers_path %></li>
                    <li><%= link_to "Noticias", editNoticias_path %></li>
                  </ul>
                  </li>
             <%end%>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <%if (!admin?)%>
            <%if current_user.tipouser=='entidade'%>
             <li><%= link_to "Profile", perfilent_path %></li>
            <%end%>
            <%if current_user.tipouser=='candidato'%>
             <li><%= link_to "Profile", perfilcand_path %></li>
            <%end%>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li><%= link_to "Alterar Password ",  editPwUser_path(current_user)%></li>
          <% end %>
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", logout_path, method: "delete" %>
            </li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "Registar-me", signup_path %></li>
        <li><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
